body {
    background-image: url("../image/burger.png");   
}

h1, h2, h3 {
  margin-left: 30%;
  margin-right:30%;
}

ul {
  padding: 35px;
  margin: 5px;
  background: #ffff99;
  border: solid 1px black;
  margin-left: 30%;
  margin-right:30%;
  opacity: .9;
}

.label {
  font-weight: bold;
  
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: #ffff99;
  opacity: .9;
  margin-left: 30%;
  margin-right:30%;
}

.form-group {
  margin-bottom: 5px;  
  margin-left: 30%;
  margin-right:30%;
}